*{
  margin:0;
  padding:0;
  box-sizing:border-box;
}
html{
font-size:62%;
}
#header{
   width:100%;
   display:flex;
   align-items:center;
   background:#fffbe2;
   padding:40rem 2rem;
   font-size:3.2rem;
}
#fbox{
   width:100%;
   display:flex;
   align-items:center;
   justify-content:center;
   flex-direction:column; 
}
#fbox h2{
   margin-top:2.0rem;
   margin-bottom:.5rem;
   color:#1878f3;
   font-size:2.2rem;
}
#fbox input{
   width:20rem;
   margin-top:7;
  padding:1.7rem;
  border:none;
  outline:none;
  background:#F5F5F5;
  box-shadow:0 .1rem .2rem rgb(180,180,180);
  border-radius:.3rem;
}
#fbox button{
   width:92%;
   margin-top:1.0rem;
   padding:1.2rem;
   border-radius:.3rem;
}
#fbox #login_button{
	font-size:1.6rem;
	font-weight:bold;
	color:#fff;
	background:#1878f3;
	border:none;
	outline:none;
}
#fbox #forget_button{
   background:none;
   border:none;
   outline:none;
   color:#377DDF;
   font-size:1.4rem;
   margin-top:.3rem;
   
}
#fbox #line{
   width:92%;
   height:.2rem;
   background:rgb(200,200,200);
   margin:1.4rem;
   display:flax;
   align-items:center;
   justify-content:center;
   text-align: center;
}
#fbox #line span{
   background:#fff;
   padding:0 2rem;
}
#fbox #new_account{
color:#fff;
   background:#00a400;
   font-weight:bold;
   margin-top:2rem;
   font-size:1.3rem;
   border:none;
   outline:none;
   padding:1.2rem;
   width:50%;
   text-shadow:.1rem 0 .1rem rgb(0,0,0,0,3);
}
@media(max-width:720px){
    html{
        font-size:70%;
        }
}
@media(max-width:920px){
    html{
        font-size:90%;
        }
}
